body {
    background-color: white;
    margin:0;
  }
  
  hr{
    color:  rgba(255, 217, 0, 0.705) ;
  }
  
       ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #581845;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
      li {
    float: left;
  }
  
       li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }
  
       li a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(255, 217, 0, 0.705);
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }

  header {
    background:tan;
    position: fixed;
    width: 100%;
    text-align: center;
    color: white;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 0.5em;
  }
  nav a {
      color: inherit;
      padding: 0 12px;
      text-decoration: none;
  }
  .overlay {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .overlay h2 {
    background: none;
    color: white;
    font-weight: 600;
    font-size: 500%;
    margin: 2rem 3rem 0;
    mix-blend-mode: lighten;
    padding: 5px 15px;
    text-align: center;
}